body {
    background-color: #eff3f6;
}
.pwd-box {
    width: 455px;
    background-color: #fff;
    margin-top: 20px;
}

.pwd-box form {
    padding-top: 32px;
}

h3.p-b-title {
    text-align: center;
}

.pwd-item{
    margin-bottom: 18px;
}
.p-f-title{
    float: left;
    text-align: right;
    padding-right: 12px;
    font-size: 14px;
    padding-top: 5px;
    color: #666;
    width: 110px;
}
.p-f-text{
    float: left;
    position: relative;
}
.p-f-text input{
    padding: 7px 5px;
    width: 252px;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 12px\9;
    border: 1px solid #d2d2d2;
    color: #cccccc;
    letter-spacing:2px;
    height: 34px;
}
.passeye {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 32px;
    height: 30px;
    background: url('../images/password_icon.png') no-repeat;
    z-index: 20;
    right: 3px;
    top: 3px;
}
.pwd-save {
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 40px;
    width: 120px;
    height: 38px;
    border: none;
    margin-top: 18px;
    margin-left: 160px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 3px 10px;
    background-color: #3b8cff;
    font-family: "微软雅黑";
}
.pwd-info{
    margin-top: 10px;
}
.pwd-info span{
    display: inline-block;
    font-size: 12px;
    color: #999;
}

.pwd-info i {
    display: inline-block;
    height: 14px;
    width: 14px;
    position: relative;
    top: 3px;
    top: 6px\9;
    background: url("../images/password_icon.png") no-repeat -68px -1px;
}
.oeye {
    background-position: 0 0;
}

.ceye {
    background-position: -34px 0;
}

/*密码强度*/
.pw-bar {
    background: url(../images/pwd_len.png) no-repeat 0 0;
    height: 18px;
    overflow: hidden;
    width: 251px;
}
#level{
    padding-top: 6px;
}
.pw-bar-on {
    background: url(../images/pwd_len.png) no-repeat -253px 0;
    width: 0px;
    height: 18px;
    position: absolute;
    top: 6px;
    /*top:1px\9;ie8 hack*/
    left: 0px;
    transition: width .4s ease-in;
    -moz-transition: width .4s ease-in;
    -webkit-transition: width .4s ease-in;
    -o-transition: width .4s ease-in;
}

.pw-weak .pw-defule {
    width: 0px;
}

.pw-weak .pw-bar-on {
    width: 83px;
}

.pw-medium .pw-bar-on {
    width: 167px;
}

.pw-strong .pw-bar-on {
    width: 251px;
}

#pwd-len{
    margin-bottom: 5px;
}