
/*ÒÔÏÂÊÇ°üº¬Ñ¡Ïî¿¨µÄºÐ×ÓÑùÊ½*/
body{background-color: #eff2f7;}
.nav-tab {width: 100%;margin-bottom: 50px;}
.nav-tab-content {width: 500px;}


/*横向选项卡样式*/
.tab-style {width: 500px;}
.tab-style  li {float: left;width: 120px;height: 45px;line-height: 45px;text-align: center;margin-right: 4px;background-color: #EFF2F7;list-style-type: none;}
.tab-style  li:hover {cursor: pointer;}
.tab-style  li.on {background-color: white;border:1px solid #E7EAEC;border-bottom: none;margin-bottom: -1px;position: relative;z-index: 2;}
.tab-style  li a {color: #686868;text-decoration: none;}
.tab-style  li.on a {color: black;}
/*.tab-content-style{width: 500px;height: 200px;overflow: hidden;}*/
.tab-content-style .tab-pane {width: 500px;height:200px;float:left;display: none;padding-top: 5px;border:1px solid #E7EAEC;background-color: #fff;color: black;}
.tab-content-style .on {display: block;z-index: 1;}


/*纵向选项卡样式*/
.tab-style1 {width: 120px;float: left;}
.tab-style1  li {height: 45px;line-height: 45px;text-align: center;margin-bottom: 5px;background-color: #EFF2F7;list-style-type: none;}
.tab-style1  li:hover {cursor: pointer;}
.tab-style1  li.on {background-color: white;margin-right: -4px;border:1px solid #E7EAEC;border-right: none;position: relative;z-index: 2;}
.tab-style1  li a {color: #686868;text-decoration: none;}
.tab-style1  li.on a {color: black;}
.tab-content-style1 .tab-pane {width: 335px;height:200px;display: none;float: left;padding-left:6px;border:1px solid #E7EAEC;background-color:#fff;color: black;}
.tab-content-style1 .on {display: block;z-index: 1;}
